body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    height: auto !important;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}
