.uiOuter {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.uiOuter > .title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.uiOuter > .toolbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 2.8em;
    height: 2em;
    border: 1px groove grey;
}

.uiOuter > .statusBar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2em;
    border: 1px groove grey;
}

.browseOuter {
    position: absolute;
    left: 0;
    right: 50%;
    bottom: 2.1em;
    top: 4.9em;
    overflow: auto;
    border: 1px groove grey;
}

.folder > span > svg {
    width: 1.5em !important;
}

.folder > span > .fileLabel {
    margin-left: .5em;
}

.folder > div {
    margin-left: 0.7em;
    padding-left: 0.75em;
}

.folder:not(:last-child) > div {
    border-left: 1px dashed black;
}

.folder > span:hover {
    background: #ddd;
}
